.main {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  margin-right: 10px;
}

.addDeletePageContainer {
  width: 100%;
  max-width: 600px;
  display: table;
  border: 1px solid green;
  border-radius: 10px;
  height: 600px;
}

.addContainer {
  width: 50%;
  display: table-cell;
  flex-wrap: wrap;
  max-width: 220px;
}

.deleteContainer {
  margin-left: 20px;
}

.button {
  background-color: #04aa6d;
  color: white;
  padding: 12px;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
  margin-top: 10px;
}

.button:hover {
  background-color: #45a049;
}

label,
input {
  display: block;
}

/* label {
  margin-bottom: 20px;
} */

.custom-field:nth-child(2n) {
  justify-content: end;
}

.custom-field {
  position: relative;
  border-top: 20px solid transparent;
  margin-bottom: 0px;
  --field-padding: 10px;
  font-size: 12px;
  max-width: 180px;
  max-height: 56px;
}

.custom-field input {
  border: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: var(--field-padding);
  border-radius: 5px;
  width: 100%;
  outline: none;
  font-size: 14px;
}

.custom-field .placeholder {
  position: absolute;
  left: var(--field-padding);
  /* width: calc(100% - (var(--field-padding) * 2)); */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  top: 22px;
  line-height: 100%;
  transform: translateY(-125%);
  color: #aaa;
  transition: top 0.3s ease, color 0.3s ease, font-size 0.3s ease;
}
